.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100vw;
    border: 0;
    border-bottom:2px;
    border-color: black;
    border-style: solid ;
}

.nav a{
    font-family: monospace;
    color: black;
    text-decoration-color: black;
    padding: 40px;

}

.nav a:hover{
    background-color:rgb(218, 218, 218);
}

.nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 42px;
    left: 0;
    height: 0px;
    width: 100%;
    overflow: hidden;
    border:0;
    z-index: 1;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    transition: 0.5s;
}

.nav button{
    width: 120px;
    height: 100%;
    margin: 10px;
    background-color: white;
    border: 0;
    font-weight: bold;

}

.nav button:hover{
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}