body {
    margin: 0;
    padding: 0;
    background-image: url("background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.pricing-table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.plan {
    background: rgba(255, 255, 255, 0.5); /* Adjust the alpha value here */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
}


.plan h2 {
    font-family: 'Chivo', sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
}

.price {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.plan ul li {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
